/* best way to  contain an image cross browser approved */

div.js_smallheight
{
    max-height:300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

div.blog_title_small
{
    max-height:300px;
    border-top:0px;
}


div.blog_title_small h1
{
    font-size:32px;
    font-weight:bold;
    text-align:center;
}   

div.blog_title_small p
{
    font-size 12px;
}


div.thumbnail
{
    margin: 5px 12px 5px 5px;
}


