/* best way to  contain an image cross browser approved */

div.js_smallheight
{
    min-height:200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



div.thumbnail
{
    margin: 5px 12px 5px 5px;
}


